:root {
  font-family: 'Victor Mono', monospace;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: var(--background);
  color: var(--color);

  font-size: 1vmax;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  height: 100dvh;
  overflow: hidden;

  font-size: 125%;
  line-height: 100%;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

a {
  color: var(--color);
  text-decoration: none;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

a:hover {

  text-shadow: 0 0 3px var(--background);
  text-decoration: underline;
  font-weight: bold;
}

@media (orientation: portrait) and (max-width: 768px) {
  body {
    height: 91.38dvh - 8.62rem !important;
  }
}

@media (orientation: landscape) and (max-width: 768px) {
  body {
    height: 100dvh;
  }
}

.content {
  position: absolute;
  left: 0;
  top: 6dvh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  top: 0;
  left: 0;
  position: absolute;
  width: 100dvw;
  height: 100dvh;
}

@media (orientation: landscape) {
  .content {
    width: 90dvw;
    height: 75dvh;
    padding: 0;
    top: 12.5dvh;
  }

  .content > * {
    height: 24dvh;
    margin: 0.5vmin;
  }
}

@media (orientation: portrait) {
  .content {
    width: 85dvw;
    height: 88dvh;

    flex-direction: column;
  }

  .content > *:not(.add-city) {
    height: 14dvh;
  }
}

.content > div:last-of-type {
  margin: inherit auto;
}

#app {
  margin: 0 auto;
  text-align: center;
}

button {
  cursor: pointer;
}

button::hover span {
  background-color: var(--shadow);
}

.flex-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.flex-center-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

